<h4>商品詳細</h4>

<div class="container">
    <div class="row">
        <div class="col-4">
            <% if @item.image.attached? %>
                <%= image_tag @item.image, size: "200x200" %>
            <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
        </div>
        <div class="col-8 mr-3">
            <div class="">
                商品名
                <%= @item.name %>
            </div>
            <div class="">
                商品説明
                <%= @item.introduction %>
            </div>
            <div class="">
                ジャンル
            </div>
            <div class="">
                税込価格（税抜価格）
            </div>
            <div class="">
                販売ステータス
            </div>
        </div>
    </div>
</div>