@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.genres-index-title, .genres-edit-title, .item-new-title, .item-index-title {
    padding: 5px;
    margin: 30px 0 30px 120px;
    background-color: #CCCCCC;
}

.title {
    display: inline-block;
    
}

.genre-form {
    margin-left: 30px;
    margin-bottom: 30px;
}