@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.genres-index-title, .genres-edit-title, .item-new-title, .item-index-title {
    padding: 5px;
    margin: 30px 0 30px 120px;
    background-color: #CCCCCC;
}

.page_title {
    display: inline-block;
    position: relative; top:25px; left:160px 
}

.login_message {
    display: inline-block;
    margin: 5px 0 5px 50px;
    background-color: #DDDDDD;
}

.sign_up_message {
    margin: 5px 0 0 250px;
}

.new_item_icon {
    display: inline-block;
    position: absolute; top:120px; right:110px 
}

.font_title {
    font-size: 18px;
    background-color: #DDDDDD;
}

.item-introduction-label {
    vertical-align: top;
}

.fw-bolder {
    font-weight: bolder;
}

.order_status {
    color: #32CD32;
    font-size: 20px;
    font-weight: bolder;
}

.now_on_sale, .validity{
     color: #32CD32;
     font-weight: bolder;
}

.sold_out, .withdraw {
    color: #D3D3D3;
    font-weight: bolder;
}

.about {
    font-size: 50px;
}

.pagination {
  justify-content: center;
}

.customer_show_btn {
    margin-left: 180px;
}

.table-genres {
    width: 40%;
}

.genre-table-cell {
    vertical-align: middle;
}

.table-customers {
    width: 70%;
    margin: 0 auto;
}

.unsubcribe-container{
    margin: 150px;
}
.unsubcribe-message {
    font-size: 18px;
}

.absolute_parent {
    position:  relative;
}

.absolute {
    position:  absolute;
    right:  0px;
    bottom: 0px;       
}

.total-table {
    width: 75%;
}

.customer_name {
    margin-left: 200px;
}

caption {
    text-align: left;
}